body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    border: 10px solid springgreen; /* Border around the body */
    padding: 10px;
}

h2 {
    border: 6px solid gold; /* Border around headings */
    padding: 10px;
    border-radius: 5px;
    color: #00fd72;
}

h1 {
    border: 6px solid gold;
    padding: 10px;
    border-radius: 5px;
    color: #ff0000;
}

hr {
    border: 6px solid #ff9100;
    margin: 20px 0;
}

textarea {
    width: 95%;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    border: 5px solid #ff002293;
    border-radius: 5px;
    text-shadow: gray;
}

button {
    width: 20%;
    height: 50px;
    margin-top: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
}

label {
    width: 120px;
    height: auto;
    color: tomato;
    border-radius: 10px;
    display: block; /* Make label block to have borders */
    border: 4px solid #ff9100; /* Border around labels */
    padding: 5px;
}

input {
    width: 99px;
    height: 9px;
    color: darkgreen;
    border-radius: 2px;
    border: 7px solid #ff9100; /* Border around inputs */
    padding: 5px;
}

::placeholder {
    color: rgb(255, 0, 0);
}

form {
    border: 9px solid #ff9100; /* Border around forms */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Space between forms */
}
option {
    border: 7px solid rgb(red, green, blue);
    width: 50%;
    height: 8px;
    padding: 8px;
}